.pdb-5{
    padding-bottom: 5px;
}

.wrapper{
    /* border: 1px solid green; */
    display: flex;
    background-color: #eadbdb;
    border-radius: 10px;
}

.travellers{
    /* border: 1px solid brown; */
    width: 50%;
}

.traveller-label{
    /* border: 1px solid blue; */
    padding: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 10px;
}

.traveller-type-wrapper{
    /* border: 1px solid greenyellow; */
    display: flex;
    align-items: center;
}

.traveller-category{
    /* border: 1px solid violet; */
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
}

.category-description{
    /* border: 1px solid tomato; */
    font-size: 7px;
    padding: 2px 5px;

}

.button-wrapper{
    /* border: 1px solid teal; */
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.subtract{
    /* border: 1px solid red; */
    font-size: 1.5rem;
    background: none;
    border: none;
    font-weight: bold;
}

.add{
    /* border: 1px solid slateblue; */
    font-size: 1rem;
    width: 4rem;
    border-radius: 10px;
    background-color: #ff6347;
    color:white;

}

.btn-dis{
    /* background-color: #555555; */
    color: white;
}

.fare-type{
    /* border: 1px solid sandybrown; */
    width: 50%;
}

.fare-label{
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 10px;
}

.input-check{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 5%;
}